<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.awesomeguy.lapa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.SuggestionActivity"
            android:label="@string/title_activity_suggestion" />
        <activity
            android:name=".ui.MapViewActivity"
            android:label="@string/title_activity_mapview" />
        <activity
            android:name=".ui.FeedbackActivity"
            android:label="@string/title_activity_feedback" />
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".ui.SignupActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".ui.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>